<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<service>
  <short>galera</short>
  <description>Galera Clustering for MySQL/MariaDB</description>
  <port protocol="tcp" port="3306"/>
  <port protocol="tcp" port="4444"/>
  <port protocol="tcp" port="4567"/>
  <port protocol="tcp" port="4568"/>
  <port protocol="udp" port="4567"/>
  <port protocol="udp" port="4568"/>
</service>
