# {{ ansible_managed }}

{% if mariadb_tls %}
[mysqld]
ssl-ca={{mariadb_conf_dir}}/ssl/{{rootcafile}}
ssl-cert={{mariadb_conf_dir}}/ssl/{{inventory_hostname_short}}.{{dns_domain}}.pem
ssl-key={{mariadb_conf_dir}}/ssl/{{inventory_hostname_short}}.{{dns_domain}}.key
{% endif %}
